.App {
  text-align: center;

}

body {
  background-color: pink;
}

.Numbers {
  display: block;
  padding-bottom: 10px;
  font-size: 20px;
}


.Target {
  font-size: large;
  margin-bottom: 40px;
}

#targetNum {
  font-size: 25px;
  color:blue;
  font-weight: bolder;

}

.Starting {
  font-size: large;

  margin-bottom: 40px;
}

#startNum {
  font-size: 25px;
  color:blue;
  font-weight: bolder;

}

#ops {
  font-size: 30px;
}

#numOper {
  font-size: large;

}


.Title {
  margin-bottom: 50px;
  color: black;
}

#Win {
  font-weight: bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Operations {
  flex-direction: row;
  font-size: 20px;
  border-color: red;
  border-radius: 20px;
  margin-bottom: 40px;
}
 
#playAgain {
  font-size: 20px;
  border-color: blue;
  border-radius: 10px;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
